body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 80%;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
}
h2 {
  text-align: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-color: black;
  border-style: solid;
  padding: 15px 35px;
  border-width: 0.1px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#addBtn {
  background: #0d8fa8;
  color: white;
}

.filters {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.filters button {
  flex: 1;
  background: #0d8fa8;
  color: white;
}

.filters .active {
  background: #055a6d;
}

#todoList {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1px;
  margin-bottom: 8px;
}

.todo-item.done span {
  color: #d32f2f;
  text-decoration: line-through;
  text-decoration-color: #d32f2f;
}

.todo-item.deleting {
  background: #ffd6d6;
}

.todo-actions button {
  background: none;
  font-size: 18px;
}

.edit-btn {
  color: #f9a825;
  font-size: 18px;
  background: none;
  display: inline-block;
  transform: rotate(-45deg);
}
