body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 80%;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
}
h2 {
  text-align: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-color: black;
  border-style: solid;
  padding: 15px 35px;
  border-width: 0.1px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#addBtn {
  background: #0d8fa8;
  color: white;
}

.filters {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.filters button {
  flex: 1;
  background: #0d8fa8;
  color: white;
}

.filters .active {
  background: #055a6d;
}
